Applications/Quickstarts.Servers/Generated/Schema/UAModel.FXAC.Types.xsd

<xs:schema
  xmlns:UAModel.DI="http://opcfoundation.org/UA/DI/"
  xmlns:UAModel.FXData="http://opcfoundation.org/UA/FX/Data/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ua="http://opcfoundation.org/UA/2008/02/Types.xsd"
  xmlns:tns="http://opcfoundation.org/UA/FX/AC/"
  targetNamespace="http://opcfoundation.org/UA/FX/AC/"
  elementFormDefault="qualified"
>
  <xs:annotation>
    <xs:appinfo>
      <ua:Model ModelUri="http://opcfoundation.org/UA/FX/AC/" Version="1.00.01" PublicationDate="2022-12-02T00:00:00Z" />
    </xs:appinfo>
  </xs:annotation>
  
  <xs:import namespace="http://opcfoundation.org/UA/2008/02/Types.xsd" />
  <xs:import namespace="http://opcfoundation.org/UA/DI/" />
  <xs:import namespace="http://opcfoundation.org/UA/FX/Data/" />

  <xs:simpleType  name="ClampKindEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Screw_0" />
      <xs:enumeration value="Thumb_1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ClampKindEnum" type="tns:ClampKindEnum" />

  <xs:complexType name="ListOfClampKindEnum">
    <xs:sequence>
      <xs:element name="ClampKindEnum" type="tns:ClampKindEnum" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfClampKindEnum" type="tns:ListOfClampKindEnum" nillable="true"></xs:element>

  <xs:simpleType  name="ConnectionEndpointStatusEnum">
    <xs:annotation>
      <xs:documentation>This enumeration defines the values of the FlcConnectionStatus of an FlcConnectionEndpointType. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Initial_0" />
      <xs:enumeration value="Ready_1" />
      <xs:enumeration value="PreOperational_2" />
      <xs:enumeration value="Operational_3" />
      <xs:enumeration value="Error_4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConnectionEndpointStatusEnum" type="tns:ConnectionEndpointStatusEnum" />

  <xs:complexType name="ListOfConnectionEndpointStatusEnum">
    <xs:sequence>
      <xs:element name="ConnectionEndpointStatusEnum" type="tns:ConnectionEndpointStatusEnum" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfConnectionEndpointStatusEnum" type="tns:ListOfConnectionEndpointStatusEnum" nillable="true"></xs:element>

  <xs:simpleType  name="FxTimeUnitsEnum">
    <xs:annotation>
      <xs:documentation>This enumeration describes the support units of time</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nanosecond_0" />
      <xs:enumeration value="Microsecond_1" />
      <xs:enumeration value="Millisecond_2" />
      <xs:enumeration value="Second_3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FxTimeUnitsEnum" type="tns:FxTimeUnitsEnum" />

  <xs:complexType name="ListOfFxTimeUnitsEnum">
    <xs:sequence>
      <xs:element name="FxTimeUnitsEnum" type="tns:FxTimeUnitsEnum" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfFxTimeUnitsEnum" type="tns:ListOfFxTimeUnitsEnum" nillable="true"></xs:element>

  <xs:simpleType  name="SocketKindEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RJ45_0" />
      <xs:enumeration value="M12_1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SocketKindEnum" type="tns:SocketKindEnum" />

  <xs:complexType name="ListOfSocketKindEnum">
    <xs:sequence>
      <xs:element name="SocketKindEnum" type="tns:SocketKindEnum" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfSocketKindEnum" type="tns:ListOfSocketKindEnum" nillable="true"></xs:element>

  <xs:simpleType  name="CommHealthOptionSet">
    <xs:restriction base="xs:unsignedShort">
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CommHealthOptionSet" type="tns:CommHealthOptionSet" />

  <xs:complexType name="ListOfCommHealthOptionSet">
    <xs:sequence>
      <xs:element name="CommHealthOptionSet" type="tns:CommHealthOptionSet" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCommHealthOptionSet" type="tns:ListOfCommHealthOptionSet" nillable="true"></xs:element>

  <xs:simpleType  name="DeviceHealthOptionSet">
    <xs:restriction base="xs:unsignedShort">
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DeviceHealthOptionSet" type="tns:DeviceHealthOptionSet" />

  <xs:complexType name="ListOfDeviceHealthOptionSet">
    <xs:sequence>
      <xs:element name="DeviceHealthOptionSet" type="tns:DeviceHealthOptionSet" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfDeviceHealthOptionSet" type="tns:ListOfDeviceHealthOptionSet" nillable="true"></xs:element>

  <xs:simpleType  name="OperationalHealthOptionSet">
    <xs:restriction base="xs:unsignedInt">
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OperationalHealthOptionSet" type="tns:OperationalHealthOptionSet" />

  <xs:complexType name="ListOfOperationalHealthOptionSet">
    <xs:sequence>
      <xs:element name="OperationalHealthOptionSet" type="tns:OperationalHealthOptionSet" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfOperationalHealthOptionSet" type="tns:ListOfOperationalHealthOptionSet" nillable="true"></xs:element>

  <xs:complexType name="AggregatedHealthDataType">
    <xs:sequence>
      <xs:element name="AggregatedDeviceHealth" type="tns:DeviceHealthOptionSet" minOccurs="0" />
      <xs:element name="AggregatedOperationalHealth" type="tns:OperationalHealthOptionSet" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AggregatedHealthDataType" type="tns:AggregatedHealthDataType" />

  <xs:complexType name="ListOfAggregatedHealthDataType">
    <xs:sequence>
      <xs:element name="AggregatedHealthDataType" type="tns:AggregatedHealthDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfAggregatedHealthDataType" type="tns:ListOfAggregatedHealthDataType" nillable="true"></xs:element>

  <xs:complexType name="ApplicationIdentifierDataType">
    <xs:sequence>
      <xs:element name="Name" type="ua:LocalizedText" minOccurs="0" nillable="true" />
      <xs:element name="UniqueIdentifier" type="tns:ApplicationId" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationIdentifierDataType" type="tns:ApplicationIdentifierDataType" />

  <xs:complexType name="ListOfApplicationIdentifierDataType">
    <xs:sequence>
      <xs:element name="ApplicationIdentifierDataType" type="tns:ApplicationIdentifierDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfApplicationIdentifierDataType" type="tns:ListOfApplicationIdentifierDataType" nillable="true"></xs:element>

  <xs:complexType name="FxVersion">
    <xs:sequence>
      <xs:element name="Major" type="xs:unsignedShort" minOccurs="0" />
      <xs:element name="Minor" type="xs:unsignedShort" minOccurs="0" />
      <xs:element name="Build" type="xs:unsignedShort" minOccurs="0" />
      <xs:element name="SubBuild" type="xs:unsignedShort" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FxVersion" type="tns:FxVersion" />

  <xs:complexType name="ListOfFxVersion">
    <xs:sequence>
      <xs:element name="FxVersion" type="tns:FxVersion" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfFxVersion" type="tns:ListOfFxVersion" nillable="true"></xs:element>

  <xs:complexType name="IntervalRange">
    <xs:sequence>
      <xs:element name="Min" type="xs:unsignedInt" minOccurs="0" />
      <xs:element name="Max" type="xs:unsignedInt" minOccurs="0" />
      <xs:element name="Increment" type="xs:unsignedShort" minOccurs="0" />
      <xs:element name="Multiplier" type="xs:unsignedShort" minOccurs="0" />
      <xs:element name="Unit" type="tns:FxTimeUnitsEnum" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IntervalRange" type="tns:IntervalRange" />

  <xs:complexType name="ListOfIntervalRange">
    <xs:sequence>
      <xs:element name="IntervalRange" type="tns:IntervalRange" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfIntervalRange" type="tns:ListOfIntervalRange" nillable="true"></xs:element>

  <xs:complexType name="PublisherQosDataType">
    <xs:sequence>
      <xs:element name="QosCategory" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="DatagramQos" type="ua:ListOfExtensionObject" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PublisherQosDataType" type="tns:PublisherQosDataType" />

  <xs:complexType name="ListOfPublisherQosDataType">
    <xs:sequence>
      <xs:element name="PublisherQosDataType" type="tns:PublisherQosDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfPublisherQosDataType" type="tns:ListOfPublisherQosDataType" nillable="true"></xs:element>

  <xs:complexType name="SubscriberQosDataType">
    <xs:sequence>
      <xs:element name="QosCategory" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="DatagramQos" type="ua:ListOfExtensionObject" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriberQosDataType" type="tns:SubscriberQosDataType" />

  <xs:complexType name="ListOfSubscriberQosDataType">
    <xs:sequence>
      <xs:element name="SubscriberQosDataType" type="tns:SubscriberQosDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfSubscriberQosDataType" type="tns:ListOfSubscriberQosDataType" nillable="true"></xs:element>

  <xs:complexType name="ApplicationId">
    <xs:sequence>
      <xs:element name="SwitchField" type="xs:unsignedInt" minOccurs="0" />
      <xs:choice>
        <xs:element name="IdNumeric" type="xs:unsignedInt" minOccurs="0" />
        <xs:element name="IdString" type="xs:string" minOccurs="0" nillable="true" />
        <xs:element name="IdGuid" type="ua:Guid" minOccurs="0" />
        <xs:element name="IdByteString" type="xs:base64Binary" minOccurs="0" nillable="true" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationId" type="tns:ApplicationId" />

  <xs:complexType name="ListOfApplicationId">
    <xs:sequence>
      <xs:element name="ApplicationId" type="tns:ApplicationId" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfApplicationId" type="tns:ListOfApplicationId" nillable="true"></xs:element>

</xs:schema>